<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form (ngSubmit)="OnSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label for="name">Nom de L'appareil</label>
      <input type="text" name="name" id="name" class="form-control" ngModel required>
    </div>
    <div class="form-group">
      <label for="status">Etat de l'appareil</label>
      <select  id="status" class="form-control" name="status" [ngModel]="defaultStatus">
        <option value="allumé">Allumé</option>
        <option value="eteint">Eteint</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Enregistrer</button>
    </form>
  </div>
</div>
