<div class="col-xs-12">
    <h2>Mes Appareils</h2>
    <ul class="list-group">
      <p>Mis a jour : {{lastupdate | date :'yMMMMEEEEd' | uppercase}}</p>
      <app-appareil *ngFor="let appareil of appareils; let i=index"
      [IndexOfAppareil]="i"
      [AppareilName]="appareil.name" 
      [AppareilStatus]="appareil.status"
      [id]="appareil.id"></app-appareil>
    </ul>
    <button class="btn btn-success" [disabled]="!isAuth" (click)="OnAllumer()">Tout allumer</button>
    <button class="btn btn-danger" (click)="OnEteindre()">Tout Eteindre</button>
  </div>
